:root {
	--dark-blue: #141922;
	--dark-gray: #282828;
	--sidebar-color: #000000;
	--green: #adff2f;
	--gray: #7d7f84;
	--sidabar-width: 230px;
	--bottombar-height: 90px;
}

html {
	color: white;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu {
	list-style: none;
}

img {
	max-width: 100%;
}

/* debug */

.app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.content {
	flex-grow: 1;
	overflow: hidden;
	display: flex;
}

.sidebar {
	flex-basis: var(--sidabar-width);
	flex-shrink: 0;
	overflow: hidden;
	background-color: var(--sidebar-color);
}

.main-content {
	flex-grow: 1;
	overflow-y: auto;
	background-color: var(--dark-blue);
}

.toolbar {
	flex-shrink: 0;
	background-color: #282828;
}

.sidebar,
.main-content,
.app > .toolbar {
	/* border: 1px solid red; */
	/* padding: 20px; */
}

@media (max-width: 575px) {
	.sidebar {
		flex-basis: 50px;
		/* --sidabar-width: 50px; */
	}
}

/* BODY TOOLBAR */

.toolbar {
	display: flex;
	padding: 12px 0;
	gap: 3px;
}

.app > .toolbar {
	justify-content: space-between;
	align-items: center;
}

.album-preview,
.audio-controls {
	flex-basis: var(--sidabar-width);
}

.player-wrapper {
	flex-basis: 35%;
}

.album-preview
/* .player-wrapper, */
/* .audio-controls  */ {
	/* border: 2px solid orange; */
	/* padding: 40px; */
}

/* TOOLBAR */
.player-controls,
.player-progress,
.audio-controls,
.volume-control,
.album-preview,
.album,
.album-actions {
	display: flex;
	align-items: center;
}

.player-controls {
	justify-content: center;
}

.player-controls .control {
	font-size: 26px;
	padding: 4px 8px;
}

.player-controls .control.play {
	font-size: 40px;
	padding: 4px 12px;
}

.player-progress {
	gap: 24px;
}

.progress {
	background-color: var(--gray);
	flex-grow: 1;
	/* width: 20px; */
}

.progress-indicator {
	background-color: white;
	height: 4px;
	width: 23%;
}

.progress,
.progress-indicator {
	border-radius: 999px;
}

.volume-control {
	flex-grow: 1;
}

.audio-controls {
	padding-right: 11px;
}

.audio-controls,
.volume-control {
	gap: 16px;
}

/* Album preview */

/* .album,
.album-action {
	border: 2px solid greenyellow;
	padding: 5px;
} */

.album-preview {
	justify-content: space-between;
	gap: 4px;
	padding-left: 11px;
}

.album {
	gap: 12px;
}

.album__thumb {
	width: 42px;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: center;
}

.album__info {
	font-size: 14px;
}

.album__thumb img {
	display: block;
	width: 100%;
}

.album-actions {
	flex-wrap: wrap;
	gap: 4px 10px;
}
