* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

body {
	font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.title {
	font-family: 'Fredoka One', cursive;
	color: #e53170;
}

h2.title {
	font-size: 28px;
	margin-bottom: 16px;
}

.text-center {
	text-align: center;
}

.section {
	padding: 32px 0;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.container + .container {
	padding-top: 48px;
}

.row-cols-3 > .col {
	width: calc((100% - 60px) / 3);
	margin-right: 30px;
	margin-bottom: 30px;
}

.row-cols-3 > .col:nth-child(3n) {
	margin-right: 0;
}

.col {
	float: left;
}

/* team card */
.team-card {
	/* min-height: 90px; */
	/* min-width: 90px; */
	background-color: black;
	color: white;
	overflow: hidden;
}

.team-card > * {
	float: left;
}

.team__thumb {
	width: 90px;
}

.team__thumb img {
	display: block;
}

.team__name {
	font-family: 'Fredoka One', cursive;
}

.team__info {
	width: calc(100% - 90px);
	padding: 8px 0 8px 12px;
}
