* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	border: 2px solid black;
	padding: 30px;
}

.row {
	background-color: tomato;
	padding: 30px;
}

.col {
	background-color: cornflowerblue;
	padding: 30px;
	/* flex-grow: 1; */
	flex-basis: 200px;
}

.row {
	gap: 10px;
}

.flex {
	display: flex;
}
