* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

body {
	background-color: black;
	color: white;
}

main {
	padding: 48px 0;
}

img {
	max-width: 100%;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	/* border: 4px solid black; */
	padding: 12px 0;
}

.container h1 {
	color: fuchsia;
	font-size: 28px;
}

.container h2 {
	color: orangered;
	font-size: 22px;
	margin-bottom: 16px;
}

.container p {
	margin-bottom: 12px;
}

.col {
	width: 30%;
	float: left;
	margin-right: 5%;
}

.col:last-child {
	margin-right: 0;
}

.card {
	text-align: center;
}

.card img {
	height: 110px;
	margin-bottom: 16px;
}

.card__title {
	color: salmon;
	margin-bottom: 8px;
	font-size: 18px;
}
