@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

.section {
	padding: 62px 10px;
}

.container {
	max-width: 1444px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

[class^='col-'] {
	padding: 0 10px;
}

.col-4 {
	flex-basis: calc(100% * (4 / 12));
}

.main-header {
	background-color: #ff6900;
	padding: 18px 0;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.main-header .row {
	justify-content: space-between;
}

.logo {
	height: 2rem;
}

.main-content {
	padding-top: 73px;
}

.page-footer {
	background-color: #1a1a1a;
	padding: 32px 0;
}

/* PRODUCT CARD RULES */

.product__thumbnail {
	position: relative;
}

.product__favourit-button,
.product__tags {
	position: absolute;
}

.product__favourit-button {
	right: 0;
	top: 10px;
	background-color: white;
	width: 52px;
	line-height: 52px;
	font-size: 20px;
	text-align: center;
}

.product__tags {
	left: 0;
	bottom: 42px;
	display: flex;
	gap: 8px;
}

.product__tags .tag {
	font-weight: 700;
	color: white;
	padding: 0 10px;
	line-height: 28px;
}

.product__tags .tag.tag-discount {
	background-color: red;
}

.product-card:hover .tag.tag-discount {
	background-color: rgb(97, 17, 33);
}

.product-card .product__tags .tag.tag-discount:hover {
	background-color: rgb(30, 192, 221);
}

.product__tags .tag.tag-type {
	background-color: green;
}

.product__price {
	color: red;
	font-weight: 700;
}

.product__price > :nth-child(2) {
	color: black;
	text-decoration: line-through;
	font-weight: 400;
}

/* DEBUG RULERS */

.debug .row {
	border: 4px solid green;
	padding: 20px;
}

.debug .container {
	border: 4px solid red;
	padding: 20px;
}

.debug [class^='col-'] {
	border: 4px solid purple;
	padding: 20px;
}
