<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>JS API</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<ul v-if="emailList.length === 10">
				<li v-for="email in emailList">{{ email }}</li>
			</ul>
			<div v-else>sto generando le email...</div>
		</div>
		<script src="./js/app.js"></script>
	</body>
</html>
