.slide img {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: cover;
	object-position: center;
}

.slide.active {
	display: block;
}

.slide {
	display: none;
}

.carosello {
	position: relative;
}

.carosello .carosello__arrow {
	position: absolute;
	font-size: 40px;
	color: white;
	top: 50%;
	transform: translateY(-50%);
}

.carosello .carosello__arrow.arrow-left {
	left: 20px;
}

.carosello .carosello__arrow.arrow-right {
	right: 20px;
}
