.grid {
	display: grid;
	border: 1px solid red;
	gap: 30px 30px;
}

.example-1 .grid {
	grid-template-columns: 1fr;
	/* grid-template-rows: 300px 450px; */
}

@media all AND (min-width: 768px) {
	.example-1 .grid {
		grid-template-columns: 1fr 1fr;
	}
}

@media all AND (min-width: 992px) {
	.example-1 .grid {
		grid-template-columns: [line-start] 1fr [col-1-end col-2-start] 1fr [line-3] 1fr [line-end];
	}
}

.example-2 .grid {
	grid-template-columns: repeat(3, 1fr); //1fr 1fr 1fr 1fr 1fr 1fr
	/* grid-template-rows: 300px 450px; */
}

.col-span-2 {
	grid-column: span 2;
}

.row-span-2 {
	grid-row: span 2;
}

.app.grid {
	height: 100vh;
	gap: 0;
	grid-template-columns: 150px 1fr;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		'header header'
		'sidebar main';
}
