@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button,
input {
	border: none;
	background-color: transparent;
}

html {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

ul,
ol,
menu {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	color: white;
}

body > * {
	/* border: 2px solid black; */
	/* padding: 20px; */
}

.main-content {
	flex-grow: 1;
	background-color: black;
	padding: 50px;
}

.toolbars {
	background-color: #222222;
	display: flex;
	justify-content: space-between;
}

.toolbar {
	display: flex;
}

.toolbar__item {
	padding: 14px;
	flex-shrink: 0;
}

.toolbar__item.button {
	display: flex;
	align-items: center;
	gap: 16px;
	text-align: center;
	transition: color 900ms cubic-bezier(0.07, 1.05, 0.81, 0.08) 1s;
}

.toolbar__item.button:hover {
	color: greenyellow;
}

.toolbar__item.button .button__text {
	display: block;
}

.toolbar__item.button .button__icon {
	font-size: 30px;
	margin-bottom: 12px;
}

.end-meeting-btn {
	background-color: rgba(255, 255, 255, 0.3);
	color: red;
	padding: 0 20px;
	font-weight: 700;
}

.view-manager {
	position: fixed;
	top: 0;
	right: 0;
	gap: 8px;
	padding: 10px;
}

.view-manager > li {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	line-height: 22px;
	font-size: 14px;
	padding: 0 8px;
}

.video {
	position: relative;
	flex-basis: 15%;
}

.video img {
	width: 100%;
	display: block;
}

.video .user-info {
	position: absolute;
	bottom: 0;
	left: 0;
	line-height: 28px;
	padding: 0 10px;
	font-size: 12px;
	background-color: rgba(0, 0, 0, 0.5);
}

.video-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 30px 10px;
	justify-content: center;
	height: 100%;
	align-content: center;
}
