* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

ul,
ol {
	list-style: none;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.grid-cols-3 {
	grid-template-columns: repeat(3, 1fr);
}

.card {
	text-align: center;
}

.card__body {
	padding: 14px;
	background-color: #333;
	color: white;
}

.card:nth-child(odd) .card__body {
	background-color: salmon;
}
